body{
    font-family: Trebuchet, Helvetica, sans-serif;
    background-color: #FFF2F4;
    font-size: 12pt;
    position:absolute;
    top:20px;
}

h1 , h2, h3, h4, h5, h6{
    color:#5D5D5D;
    font-weight: normal;
}

a { 
    color: #FF0003;
    text-decoration:none;
}

div.dica {
    color:#8A8A8A;
    font-size: 9pt;
    margin-left:10px;
    margin-right:10px;
}

input, textarea  {
    padding:5px;
    font-size: 12pt;
}

nav.barra_principal {
    position:fixed;
    top:0;
    right:0;
    left:0;
    padding:10px;
    background:solid;
    background-color:#FF0008;
}

ul.nav {
    margin:0;
    padding:0;
}

ul.nav li {
    float:left;
    list-style:none;   
    display:inline;
}

ul.nav li a:hover, a.nav_direita:hover{
    border-left:solid 6px #FFFFFF;
}

ul.nav li a , a.nav_direita{
    border-left:solid 6px transparent;
    margin-right:20px;
    padding-left:5px;
    color:#FFFFFF;
}

a.nav_direita{
    float:right;
}

.table{
    width: 800px;
    border-collapse:collapse;
    background-color:#FFFFFF;
}

.th{
    background-color:#FFCB00;
    border: 2px solid #E0AD00;
    color: #FFFFFF;
    font-weight:normal;
}

.td, .td_coment{
    border: 1px solid #808080;
    border-top: none;
    padding:5px;
}

.td_coment pre{
    padding:5px;
    width:300px;
}

ul.mensagens{
    position:fixed;
    right:0;
    bottom: 0;
    color:white;
}

ul.mensagens li{
    float:bottom;
    list-style-type:none;
    border:solid 1px #FF4848;
    background-color:#FF2125;
    padding:10px;
    margin:10px;
    border-radius: 5px;
    width:300px;
}


