<!-- O autoescape serve para converter caracteres perigosos
(como ") para o respectivo de escape html (como &quot). -->
{% autoescape true %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
	        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            {% block css %}
            <link rel="stylesheet" type="text/css" href="/estatico/estilos/principal.css">
            {% endblock %}
	        <title>SISAA</title>
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        {% if usuario %}
        <nav class='barra_principal'>
          <ul class='nav'>
            <li><a href='{{a | url("entrou")}}'>Início</a></li>
            <li><a href='{{a | url("list_gt")}}'>Grupos de Trabalho</a>
            <li><a href='{{a | url("minhas_avaliacoes")}}'>Avaliações</a></li>
            <li><a href=''>Perfil</a></li>
          </ul>
        <a class='nav_logout' href='{{a | url("logout")}}'>Sair</a> 
        </nav>
        
        <br>
        {% endif %}
        {% endblock %}
        
        
    	{% block mensagens %}
	   		<ul class='mensagens'>
		    	{% for m in msgs %}
		    		<li>{{m}}</li>
		    	{% endfor %}
	    	</ul>
    	{% endblock %}
    	<div class='corpo'>
        {% block corpo %}
        {% endblock %}
        </div>
    </body>
</html>
{% endautoescape %}

