<!-- O autoescape serve para converter caracteres perigosos
(como ") para o respectivo de escape html (como &quot). -->
{% autoescape true %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
	        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            {% block css %}
            <link rel="stylesheet" type="text/css" href="/estatico/estilos/principal.css">
            {% endblock %}
	        <title>SISAA</title>
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        <nav class='barra_principal'>
          <ul class='nav'>
            {% if usuario %}
            <li><a href='{{a | url("entrou")}}'>Início</a></li>
            {% endif %}
            <li><a href='{{a | url("menu_gt")}}'>Grupos de Trabalho</a>
            {% if 'ava' in usuario.credenciais %}
            <li><a href='{{a | url("menu_avaliacao")}}'>Avaliações</a></li>
            {% endif %}
            {% if usuario %}
            <li><a href='{{a | url("menu_usuario")}}'>Pessoal</a></li>
            {% endif %}
            <li><a href='{{a | url("menu_art")}}'>Artigos</a></li>
            {% if 'adm' in usuario.credenciais %}
            <li><a href='{{a | url("menu_org")}}'>Organizadores</a></li>
            {% endif %}
          </ul>
          
        {% if usuario %}
        <a class='nav_direita' href='{{a | url("logout")}}'>Sair</a> 
        {% else %}
        <a class='nav_direita' href='/'>Login</a> 
        {% endif %}
        </nav>
        
        <br>
        {% endblock %}
        
        
    	{% block mensagens %}
	   		<ul class='mensagens'>
		    	{% for m in msgs %}
		    		<li>{{m}}</li>
		    	{% endfor %}
	    	</ul>
    	{% endblock %}
        
    	<div class='corpo'>
        {% block corpo %}
        {% endblock %}
        </div>
        
    </body>
</html>
{% endautoescape %}

