<!-- Cadastro de grupos de trabalho -->
{% extends 'base.html' %}

{% block corpo %}

{% block titulo %}
<h1>Cadastrar grupo de trabalho</h1>
{% endblock %}

Preencha os campos abaixo e pressione o botão para criar um grupo de trabalho.
<form id='form_gt' method="post" action="{{upload_url}}" enctype="multipart/form-data">
	<div>
        <label>
            Nome <input type="text" value='{{value_nome}}' required name='nome'>
        </label>
    </div>
	
	<div>
        {% block sigla %}
        <label>
            Sigla <input type="text" value='{{value_sigla}}' required name='sigla'>
        </label>
        {% endblock %}
	</div>
    
    {% block edital %}
    <div>
        <label>
            Edital <input type='file' name='file' accept='pdf' required>
        </label>
    </div>
    {% endblock %}
    
	<div>
        <label>
            Descricao<br>
            <textarea required cols='40' rows='10' name='descricao'
                >{{value_descricao}}</textarea>
        </label>
        
    </div>

    <div>
        E-mails dos avaliadores (digite um e-mail por linha)
    </div>
    <div>
        <textarea required cols='40' rows='6' name='emails_ava'
            >{{value_emails_ava}}</textarea>
    </div>
    
    <div>
        <label>
            Número de avaliadores por artigo
            <input type='number' min='1' name='n_ava_por_art' 
                maxlength='2' size='2' value='{{value_n_ava_por_art}}'>
        </label>
    </div>
	
    {% block campos_extra %}
    {% endblock %}
    
	<div>
        <input type="submit" value="Salvar grupo de trabalho">
        <a href='/entrou'>Voltar para o início</a>
    </div>
</form>
{% endblock %}
