{% extends 'base.html' %}
{% block corpo %}
	<h2>{{grupo.sigla}} - {{grupo.nome}}</h2>
    <div><a href='/down/{{grupo.edital}}'>Edital</a></div>
    <div>Estado: {{grupo.estado}}</div>
	<div>Submissões de {{grupo.ini_sub}} até {{grupo.fim_sub}}</div>
	<div>Avaliações de {{grupo.ini_ava}} até {{grupo.fim_ava}}</div>
	<div>Avaliadores:</div>
	{% for a in grupo.avaliadores %}
		<div>- {{a}}</div>
	{% endfor %}
    <!-- 'aceitando submissoes' é idêntico ao do módulo de valores.
         Talvez seja possível importar. -->
    {% if 'alu' in usuario.credenciais and grupo.estado == 'aceitando submissoes' %}
    <a href='/enviar_artigo/{{grupo.sigla}}'>Submeter artigo</a>
    {% endif %}
{% endblock %}
