{% from '/macros/acoes_org_gt.html' import acoes_org_gt as macro_acoes_org %}
{% extends 'base.html' %}
{% block corpo %}
	<h1>{{grupo.sigla}} - {{grupo.nome}}</h1>
    <div><a href='/down/{{grupo.edital}}'>Edital</a></div>
    <div>Estado: {{grupo.estado}}</div>
	Descrição:
    <pre>{{grupo.descricao}}</pre>
    Avaliadores:
	{% for a in grupo.avaliadores %}
		<div>- {{a}}</div>
	{% endfor %}
    
    <h2>Ações</h2>
    <!-- 'aceitando submissoes' é idêntico ao do módulo de valores.
         Talvez seja possível importar. -->
    {{macro_acoes_org(grupo, usuario)}}
    {% if 'alu' in usuario.credenciais and grupo.estado == 'aceitando submissoes' %}
    <a href='/enviar/{{grupo.sigla}}'>Submeter artigo</a>
    {% endif %}
{% endblock %}
