{% from '/macros/acoes_org_gt.html' import acoes_org_gt as macro_acoes %}

{% extends 'base.html' %}
{% block corpo %}
<h1>Grupos de trabalho</h1>
{% if 'org' in usuario.credenciais %}
<h2>Meus</h2>
{% for g in meus%}
    <div>
        <div><b><a href='{{var | url("exibir_gt", g.sigla)}}'>{{g.sigla}} - {{g.nome}}</a></b></div>
        {{macro_acoes(g, usuario)}}
    </div>
    <br>
{% endfor %}
<a href='{{a | url("cad_gt")}}'>Cadastrar</a> novo grupo de trabalho.
{% endif %}

<h2>Todos</h2>
{% for g in todos %}
    <div>
        <b><a href='{{var | url("exibir_gt", g.sigla)}}'>{{g.sigla}} - {{g.nome}}</a></b><br>
        Organizador: {{g.organizador}}
    </div>
    <br>
{% endfor %}
{% endblock %}

